{% extends 'base.html.twig' %}

{% block title %}Les Produits
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-3">Les produits</h1>
		<div class="row flex-wrap justify-content-around g-2">
			{% for product in products %}
				<a class="col-lg-3 col-md-4 col-6 mx-2 card text-decoration-none" href="{{ path('product_details' , {id:product.id}) }}">
					<div class="card-body">
						<div class="d-flex justify-content-center">
							<div class="card-title fs-5 text-decoration-underline">{{ product.name }}
							</div>
							<div class="card-title fs-5">&nbsp|
								{{ product.category.name }}</div>
						</div>
						<div class="card-subtitle my-2 text-body-secondary d-flex justify-content-center">
							{% if (product.isDiscount == 1) %}
								<div class="text-decoration-line-through text-danger">{{ product.ttcprice }}€</div>
								<div class="">&nbsp|&nbsp</div>
							{% endif %}
							<div class="text-success fw-bold">{{ product.sellprice }}€</div>
						</div>
					</div>
				</a>
			{% else %}
				<p>Aucun produit n'a été trouvé</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
